
.nostar{
        color:grey
     }
     .bonus{
      color:pink
     }
     .star{
        color: blue
        }
      .superstar{
                 background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple);
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .AHFOD {
         color:rgb(211, 119, 28);
      }
      .AHFOD .star{
            color:rgb(234, 67, 22);
         }
      .AHFOD .halfstar{
                    background-image: linear-gradient(to right, rgb(234, 67, 22), rgb(234, 67, 22), rgb(234, 67, 22), rgb(234, 67, 22), rgb(234, 67, 22), rgb(234, 67, 22),  rgb(234, 67, 22), rgb(234, 67, 22), rgb(234, 67, 22), rgb(234, 67, 22), rgb(234, 67, 22), rgb(234, 67, 22),grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey);
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
               }
      .MOTS{
         color:rgb(16, 37, 160);
      }
      .MOTS .star {
            color:rgb(197, 34, 189);
         }
      .MOTS .halfstar{
                    background-image: linear-gradient(to right, rgb(197, 34, 189), rgb(197, 34, 189), rgb(197, 34, 189), rgb(197, 34, 189), rgb(197, 34, 189), rgb(197, 34, 189),  rgb(197, 34, 189), rgb(197, 34, 189), rgb(197, 34, 189), rgb(197, 34, 189), rgb(197, 34, 189), rgb(197, 34, 189),grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey);
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
               }
      .KS{
         color:rgb(7, 31, 178);
      }
      .KS .halfstar{
         background-image: linear-gradient(to right, rgb(18, 78, 200), rgb(18, 78, 200), rgb(18, 78, 200), rgb(18, 78, 200), rgb(18, 78, 200), rgb(18, 78, 200),  rgb(18, 78, 200), rgb(18, 78, 200), rgb(18, 78, 200), rgb(18, 78, 200), rgb(18, 78, 200), rgb(18, 78, 200),grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey);
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
               }
      .KS .star{
            color:rgb(18, 78, 200);
      }
      .Safety{
            color:rgb(170, 148, 146)
      }
      .Safety .star{
         color:rgb(41, 24, 14)
      }
      .Safety .halfstar{
                 background-image: linear-gradient(to right, rgb(41, 24, 14), rgb(41, 24, 14), rgb(41, 24, 14), rgb(41, 24, 14), rgb(41, 24, 14), rgb(41, 24, 14),  rgb(41, 24, 14), rgb(41, 24, 14), rgb(41, 24, 14), rgb(41, 24, 14), rgb(41, 24, 14), rgb(41, 24, 14),grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey);
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .BS{
            color:rgb(119, 167, 196)
      }
      .BS .star{
         color:rgb(139, 55, 55)
      }
      .BS .halfstar{
                 background-image: linear-gradient(to right, rgb(139, 55, 55), rgb(139, 55, 55), rgb(139, 55, 55), rgb(139, 55, 55), rgb(139, 55, 55), rgb(139, 55, 55),  rgb(139, 55, 55), rgb(139, 55, 55), rgb(139, 55, 55), rgb(139, 55, 55), rgb(139, 55, 55), rgb(139, 55, 55),grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey);
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .TBR{
            color:rgb(82, 105, 162)
      }
      .TBR .star{
         color:rgb(221, 86, 108)
      }
      .TBR .halfstar{
                 background-image: linear-gradient(to right, rgb(221, 86, 108), rgb(221, 86, 108), rgb(221, 86, 108), rgb(221, 86, 108), rgb(221, 86, 108), rgb(221, 86, 108),  rgb(221, 86, 108), rgb(221, 86, 108), rgb(221, 86, 108), rgb(221, 86, 108), rgb(221, 86, 108), rgb(221, 86, 108),grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey);
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }

      .MM{
            color: rgb(1, 139, 193)
      }
      .MM .star{
         color:rgb(0, 63, 99)
      }
      .MM .halfstar{
                 background-image: linear-gradient(to right, rgb(0, 63, 99), rgb(0, 63, 99), rgb(0, 63, 99), rgb(0, 63, 99), rgb(0, 63, 99), rgb(0, 63, 99),  rgb(0, 63, 99), rgb(0, 63, 99), rgb(0, 63, 99), rgb(0, 63, 99), rgb(0, 63, 99), rgb(0, 63, 99),grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey);
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .MM .bonus{
            color:rgb(215, 82, 254)
      }
      .MM .bonus .star{
         color:rgb(251, 5, 12)
      }
      .MM .bonus .halfstar{
                 background-image: linear-gradient(to right, rgb(251, 5, 12), rgb(251, 5, 12), rgb(251, 5, 12), rgb(251, 5, 12), rgb(251, 5, 12), rgb(251, 5, 12),  rgb(251, 5, 12), rgb(251, 5, 12), rgb(251, 5, 12), rgb(251, 5, 12), rgb(251, 5, 12), rgb(251, 5, 12),grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey);
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .MyloXyloto{
            color: rgb(162, 162, 162)
      }
      .MyloXyloto .star{
         color:rgb(210, 32, 72)
      }
      .MyloXyloto .halfstar{
                 background-image: linear-gradient(to right, rgb(210, 32, 72), rgb(210, 32, 72), rgb(210, 32, 72), rgb(210, 32, 72), rgb(210, 32, 72), rgb(210, 32, 72),  rgb(210, 32, 72), rgb(210, 32, 72), rgb(210, 32, 72), rgb(210, 32, 72), rgb(210, 32, 72), rgb(210, 32, 72),grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey);
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }

            .PM{
            color: rgb(160, 126, 71)
      }
      .PM .star{
         color:rgb(175, 186, 148)
      }
      .PM .halfstar{
                 background-image: linear-gradient(to right, rgb(175, 186, 148), rgb(175, 186, 148), rgb(175, 186, 148), rgb(175, 186, 148), rgb(175, 186, 148), rgb(175, 186, 148),  rgb(175, 186, 148), rgb(175, 186, 148), rgb(175, 186, 148), rgb(175, 186, 148), rgb(175, 186, 148), rgb(175, 186, 148),grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey);
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
            .EL{
            color: rgb(147, 144, 145)
      }
      .EL .albumtitle .halfstar{
                                   background-image: linear-gradient(to right, rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149),  rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149),rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 

      }
      .EL .albumtitle .star{
                 background-image: linear-gradient(to right, rgb(193, 175, 93), rgb(151, 145, 149));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .Sunrise .EL .star{
         color: rgb(193, 175, 93)
      }
      .Sunrise .EL{
         color: rgb(151, 145, 149)
      }
      .Sunrise .EL .halfstar{
                                   background-image: linear-gradient(to right, rgb(193, 175, 93), rgb(193, 175, 93), rgb(193, 175, 93), rgb(193, 175, 93), rgb(193, 175, 93), rgb(193, 175, 93),  rgb(193, 175, 93), rgb(193, 175, 93), rgb(193, 175, 93), rgb(193, 175, 93), rgb(193, 175, 93), rgb(193, 175, 93),rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 


      }
      .Sunset .EL{
         color: rgb(193, 175, 93)
      }
      .Sunset .EL .star{
         color: rgb(151, 145, 149)
      }
      .EL .nostar{
         color:rgb(225,225,225)
      }
      .Sunset .EL .halfstar{
                                   background-image: linear-gradient(to right, rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149),  rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149), rgb(151, 145, 149),rgb(225, 225, 225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .Sunset .EL .bonus .star {
                 background-image: linear-gradient(to right, rgb(151, 145, 149), rgb(193, 175, 93) );
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .Sunset .EL .bonus  {
                 background-image: linear-gradient(to right, rgb(193, 175, 93), rgb(151, 145, 149));
         -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 

      }
      .AROBTTH .nostar{
         color: rgb(225,225,225)
      }
      .AROBTTH .star{
         color: rgb(112, 104, 102)
      }
      .AROBTTH .halfstar{
                                   background-image: linear-gradient(to right, rgb(112, 104, 102), rgb(112, 104, 102), rgb(112, 104, 102), rgb(112, 104, 102), rgb(112, 104, 102), rgb(112, 104, 102),  rgb(112, 104, 102), rgb(112, 104, 102), rgb(112, 104, 102), rgb(112, 104, 102), rgb(112, 104, 102), rgb(112, 104, 102),rgb(225, 225, 225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .Parachutes{
         color: rgb(202, 46, 16)
      }
      .Parachutes .star{
         color:rgb(255, 168, 59)
      }
      .Parachutes .halfstar{
                                   background-image: linear-gradient(to right, rgb(255, 168, 59), rgb(255, 168, 59), rgb(255, 168, 59), rgb(255, 168, 59), rgb(255, 168, 59), rgb(255, 168, 59),  rgb(255, 168, 59), rgb(255, 168, 59), rgb(255, 168, 59), rgb(255, 168, 59), rgb(255, 168, 59), rgb(255, 168, 59),rgb(225, 225, 225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .GS{
         color: rgb(129, 158, 179)
      }
      .GS .star{
         color:rgb(34, 62, 89)
      }
      .GS .halfstar{
                                   background-image: linear-gradient(to right, rgb(34, 62, 89), rgb(34, 62, 89), rgb(34, 62, 89), rgb(34, 62, 89), rgb(34, 62, 89), rgb(34, 62, 89),  rgb(34, 62, 89), rgb(34, 62, 89), rgb(34, 62, 89), rgb(34, 62, 89), rgb(34, 62, 89), rgb(34, 62, 89),rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .GS .bonus{
         color: rgb(164, 172, 176)
      }
      .GS .bonus .star{
         color:rgb(29, 38, 47)
      }
      .GS .bonus .halfstar{
                                   background-image: linear-gradient(to right, rgb(29, 38, 47), rgb(29, 38, 47), rgb(29, 38, 47), rgb(29, 38, 47), rgb(29, 38, 47), rgb(29, 38, 47),  rgb(29, 38, 47), rgb(29, 38, 47), rgb(29, 38, 47), rgb(29, 38, 47), rgb(29, 38, 47), rgb(29, 38, 47),rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 

      }
            .XandY{
            color:rgb(4, 136, 71)
      }
      .XandY .halfstar{
                                   background-image: linear-gradient(to right, rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59),  rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59),rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 

      }
      .XandY .star{
         color:rgb(0, 2, 59)
      }
      .X .XandY .star{
         color: rgb(0, 2, 59)
      }
      .X .XandY{
         color: rgb(4, 136, 71)
      }
      .X .XandY .halfstar{
                                   background-image: linear-gradient(to right, rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59),  rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59), rgb(0, 2, 59),rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 


      }
      .Y .XandY{
         color: rgb(0, 2, 59)
      }
      .Y .XandY .star{
         color: rgb(4, 136, 71)
      }
      .Y .XandY .halfstar{
                                   background-image: linear-gradient(to right, rgb(4, 136, 71), rgb(4, 136, 71), rgb(4, 136, 71), rgb(4, 136, 71), rgb(4, 136, 71), rgb(4, 136, 71),  rgb(4, 136, 71), rgb(4, 136, 71), rgb(4, 136, 71), rgb(4, 136, 71), rgb(4, 136, 71), rgb(4, 136, 71),rgb(225, 225, 225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }
      .Y .XandY .bonus .star {
         color:rgb(2, 97, 48)
      }
      .Y .XandY .bonus  {
         color:rgb(0, 41, 64)
      }
      .Y .XandY .bonus .halfstar {
                  background-image: linear-gradient(to right, rgb(2, 97, 48), rgb(2, 97, 48), rgb(2, 97, 48), rgb(2, 97, 48), rgb(2, 97, 48), rgb(2, 97, 48),  rgb(2, 97, 48), rgb(2, 97, 48), rgb(2, 97, 48), rgb(2, 97, 48), rgb(2, 97, 48), rgb(2, 97, 48),rgb(225, 225, 225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
         -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 

      }

      .Viva{
         color:rgb(38, 38, 44)
      }
      .Viva .star{
         color:rgb(198, 54, 25)
      }
      .Viva .halfstar{
                                   background-image: linear-gradient(to right, rgb(198, 54, 25), rgb(198, 54, 25), rgb(198, 54, 25), rgb(198, 54, 25), rgb(198, 54, 25), rgb(198, 54, 25),  rgb(198, 54, 25), rgb(198, 54, 25), rgb(198, 54, 25), rgb(198, 54, 25), rgb(198, 54, 25), rgb(198, 54, 25),rgb(225, 225, 225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225), rgb(225,225,225));
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
      }

      .halfstar {
        background-image: linear-gradient(to right, blue, blue, blue, blue, blue, blue,  blue, blue, blue, blue, blue, blue,grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey, grey);
        
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent; 
    }
   img{
            padding-right: 50px;
               }
      .tracklist {
         font-size:10pt;
         padding:0px
      }
          body {
         font-size:12pt;
         padding:0px;
    }
@media screen and (min-width: 1200px) {
    ul > li {
        display: inline-block;
        margin-right: 15px;
    }
   }
 @media screen and (max-width: 1200px) {
    ul > li {
        display: block;
        margin-right: 15px;
    }
 }

 @media screen and (min-width: 1150px) {
    .tracklist {
         font-size:12pt;
         padding:0px;
    }
 }
  @media screen and (min-width: 1150px) {
    body {
         font-size:14pt;
         padding:0px;
    }
 }
   @media screen and (max-width: 1150px) {
    body {
         font-size:12pt;
         padding:0px;
    }
 }
  @media screen and (max-width: 1150px) {
    .tracklist {
         font-size:10pt;
         padding:0px;
    }
 }
   @media screen and (min-width: 1200px) {
         .container {
            display: grid;
            grid-template-columns: 300px auto auto;
            gap:30px
        }
      }